/* elemento utilizado para guardar variaveis */
/* geralmente para otimizar e economizar tempo */
:root{
    --corPrimaria : #2A2B2A; 
    --corSecundaria : #F5124B;
    --black : black;
    --branco : #ecebeb;
    --fontePrincipal: 'Trebuchet MS';
    --tamanhoFonteTitulo : 24pt ;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: var(--corPrimaria);
}

a{
    text-decoration: none;
    color: var(--black);
}

header, footer{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    background-color: var(--corPrimaria);
    color: var(--branco);
}

header{
    justify-content: space-around;
}

footer{
    justify-content: center;
}

    /* Jogar os links um do lado do outro */
header ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

section{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* Criação da linha vermelha */
hr{
    width: 80%;
    border: none;
    border: 1px solid var(--corSecundaria);
}

#catalogo{
    gap: 20px;
}

    /* Deixar as imagens um do lado do outro */
#catalogoItens{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

    /* Mostra as bordas das imagens */
.item{
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.item img{
    width: 80%;
}

#menuMobile{
    display: none;
}

#btnMobile{
    display: none;
}

#artigo{
    gap: 20px;
}

#elizabeth{
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;

}

#elizabeth img{
    width: 100%;
}

button{
    padding: 10px;
    border: 1px solid black;
    background-color: var(--corSecundaria);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}