@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

/* Quando passa o mouse em cima fica branco */
header a:hover{
    color: white;
    /* Quando passa o mouse por cima faz uma aninimação de zoom */
    transform: scale(1.05);
  }
  
    /* Tira as bolinhas */
  header nav ul{
    list-style-type:none ;
  }
  
    /* Deixar os link um do lado do outro */
  header nav ul li{
    display: inline-block;
  margin-right: 30px;
  }
  
  /* Estilo do cabeçalho */
  header{
    padding: 40px;
  }
  
  header .interface{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header a{
    color: rgb(104, 104, 104);
    text-decoration: none;
    display: inline-block;
  }

  span{
    color: gray;
  }

  #filmes h3{
    color: white;
  }

  .card { 
    background-color: black !important;
    color: white;
  }

