/*Font face = anexa uma fonte ao projeto*/
@font-face {
    /*font family = define o nome da fonte instalada*/
    font-family: Roboto;
    /*src = onde essa fonte está Localizada*/
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: SuperMario256;
    src: url("../fonts/super_mario_256/SuperMario256.ttf");
}

/*Geral*/
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: SuperMario256;
}

section{
    width: 100%;
    padding: 10px 0px;
    display: flex;
}

.tituloSection{
    text-align: center;
    font-weight: bold;
}

.subtituloSection{
    text-align: center;
    font-size: 10pt;
    color: gray ;

}

/*Header*/

header{
    width: 100%;

}

#banner{
    height: 500px;
    justify-content: center;
    background-image: url(../Images/ImagensGeral/cabe.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    width: 100px;
    height: 100px;
    background-image: url(../Images/logo/logo_vou_de_bike.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(92, 92, 92);
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    gap: 100px;
    list-style: none;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: antiquewhite;
}

/*Tipicos*/
#topicos{
    gap: 20px;
    justify-content: center;
}

.topicoGrupo{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 10px 0px;
   
}

.topicoImagem{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.topicoGrupo button{
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding: 6px;
    cursor: pointer;
}

#topicoDicas{
    background-image: url(../Images/OIP.png);

}

#topicoNoticias{
    background-image: url(../Images/ImagensGeral/noticias.png);
}

#topicoEquipamento{
    background-image: url(../Images/ImagensGeral/equipamentos.png);
}

/* agenda */
#agenda{
    flex-direction: column;
    background-color: rgb(190, 190, 190);
    gap: 30px;
}

#seletores{
    display: flex;
    margin: 0 auto;
    gap: 20px;
}

#seletores select{
    width: 300px;
    height: 30px;
    justify-content: center;
}

#eventos{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.evento{
    width: 200px;
    height: 150px;
    display: flex;
    font-size: 8px;
}

.dataEvento{
    width: 20%;
    height: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.evento button{
    border: none;
    border: 1px solid black;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
}

#descEvento{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 8px;
}

/*  email */
#emailSecao{
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#email{
    width: 80%;
    height: 30px;
}

#cadastrar{
    width: 200px;
    background-color: black;
    color: white;
}

/* footer */
footer{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 100px;
    color: aliceblue;
}

.redes{
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12pt;
    font-size: 8pt;
}

.redes img{
    width: 100%;
}